n8n_workflows/chat_interface.json
{
  "name": "funcionalidade 2.2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "75d32a0e-fa24-4c94-a2b0-bf818d053e15",
      "name": "Webhook",
      "webhookId": "2a319a7a-fc6d-4286-bbd8-ed543b2b9f32"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/chat/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({\"message\": $json.body.message}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "2db5859b-d81f-460b-9da5-93d186a44296",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"message\": $json.response} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "def3d30a-59a3-4308-9f73-184f63837ea4",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cf23a4e-1566-4223-94fe-d65db309e24d",
  "meta": {
    "instanceId": "c9936f7100b50b073086333c2bd60eccf5ceb688bde46f5500b6949878b9dc8f"
  },
  "id": "Gz1vb9j37Z0kUeTW",
  "tags": []
}