n8n_workflows/funcionalidade_3_3.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reasoning-demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ccefdb27-be5f-457a-9e84-afea2b250f4f",
      "name": "🌐 Webhook Input",
      "webhookId": "reasoning-demo-webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "id": "ff2511a1-c912-458e-afca-39b376abc4a5",
      "name": "💬 Chat Trigger",
      "webhookId": "chat-trigger-reasoning"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/chat/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"message\": $json.message || $json.body?.message || $json.chatInput || \"teste\"}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        160
      ],
      "id": "0214f896-5c70-430c-bf1f-37db5be5403a",
      "name": "🧠 Reasoning Engine"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        700,
        160
      ],
      "id": "40b8c45e-91a7-47a4-b80d-ea05fc9c7d30",
      "name": "📋 Respond Complete"
    }
  ],
  "pinData": {},
  "connections": {
    "🌐 Webhook Input": {
      "main": [
        [
          {
            "node": "🧠 Reasoning Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Chat Trigger": {
      "main": [
        [
          {
            "node": "🧠 Reasoning Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Reasoning Engine": {
      "main": [
        [
          {
            "node": "📋 Respond Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a780cbb9-9733-4d4f-b388-5a771b2ef2b1",
  "meta": {
    "instanceId": "c9936f7100b50b073086333c2bd60eccf5ceb688bde46f5500b6949878b9dc8f"
  },
  "id": "PVHaKOaGmnVQ6Noc",
  "tags": []
}